<ul class="breadcrumb">
    <li><a href="#">Master</a></li>                    
    <li class="active">Employee Registration</li>
</ul>
<!-- END BREADCRUMB -->  
<div class="content-frame-top">                        
    <div class="page-title">                    
        <h2><span class="fa fa-arrow-circle-o-left"></span>Employee Registration</h2>
    </div>                                      
</div>


<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>

      <tr>
        <th>Serial No</th>
        <th>Employee Category</th>
        <th>Name</th>
        <th>Address</th>
        <th>DOB</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Qualification</th>
        <th>Designation</th>
        <th>Department</th>
        <th>Employee ID</th>
        <th>Date Of Join</th>
        <th>Salary</th>
        <th>Salary Date</th>

      
        
      </tr>
      </thead>
      <tbody>
        {% for i in edata %}

      <tr>
        <td>{{ forloop.counter }}</td>
        <td><img class="profile-user-img img-fluid img-circle" src= "{{i.emp_file_input.url}}"  alt="User profile picture"></td>
        <td>{{i.emp_name}}</td>
        <td>{{i.emp_mobile}}</td>
        <td>{{i.desig.dname}}</td>
        
         <td class="project-state">
              <span class="badge badge-success">Activate</span>
          </td>
          <td class="project-actions text-right">
          <a class="btn btn-tool" href="#" data-toggle="modal" data-target="#modal-xl">
                  <i class="fas fa-eye">
                  </i>
                  
              </a>
              
              <a class="btn btn-tool" href="designation edit.html" target="_blank">
                  <i class="fas fa-pencil-alt">
                  </i>
                  
              </a>
              <a class="btn btn-tool" id="deleteButton" href="#"><script src="alert.js"></script>
                  <i class="fas fa-trash">
                  </i>
                  
              </a>
          </td>
      </tr>
      
      {% endfor %}  
    </table>
  </div>
